textarea {
    overflow: auto !important;
    resize: none !important;
}

.ng-valid[required], .ng-valid.required  {
  border-left: 5px solid #42A948; /* green */
}

.ng-invalid:not(form)  {
  border-left: 5px solid #a94442; /* red */
}

a {
    text-decoration: none !important;
}

.danger {
    color: #fff;
    background-color: red;
    border-color: red;
}

.danger:hover, .danger:active  {
    color: #fff;
    background-color: #a94442;
    border-color: #a94442;
}

.mt {
  margin-top: 16px;
}
