<div class="container-fluid">
  <div class="row">
    <div class="col-xs-12">
      <h3 class="text-center"><b>Shipping Address</b></h3>
    </div>
  </div>
  <form class="col-xs-12" (ngSubmit)="submit()">
    <div class="form-group col-xs-12">
      <span class="input-group" for="address1">Street Address</span>
      <input type="text" required class="form-control" name="address" [(ngModel)]="address.address" placeholder="15 Main Street">
    </div>
    <br>
    <div class="form-group col-xs-12">
      <span class="input-group">City</span>
      <input type="text" required name="city" [(ngModel)]="address.city" class="form-control" placeholder="Smallville">
    </div>
    <br>
    <div class="form-group col-xs-12">
      <span class="input-group">State</span>
      <input type="text" required name="state" [(ngModel)]="address.state" class="form-control" placeholder="Kansas">
    </div>
    <br>
    <div class="form-group col-xs-12">
      <span class="input-group">Zip Code</span>
      <input type="text" required name="zip" [(ngModel)]="address.zip" class="form-control" placeholder="00000">
    </div>
    <br>
    <div class="text-center">
      <button type="submit" class="btn btn-info navbar-btn">Save</button>
    </div>
  </form>
</div>
