<section class="container">
  <div class="row">
    <div class="col-xs-12">
      <h1 class="text-center"><b>Your Cart</b></h1>
      <h6 *ngIf="(cart.length === 0)" class="text-center"><b>(Is empty... <a [routerLink]="['/','search']">Need something?</a>)</b></h6>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3" *ngFor="let item of cart">
      <h3>{{item.name}}</h3>
      <h6>Quantity: {{item.quantity}}</h6>
      <p>Cost: {{(item.quantity * item.price) | currency:'USD':true}}</p>
      <button (click)="add(item)" type="button" class="btn btn-info navbar-btn">Add Another</button>
      <button (click)="remove(item._id)" type="button" class="btn btn-info danger">Remove Item</button>
    </div>
  </div>
  <div class="row" *ngIf="(cart.length > 0)">
    <div class="col-xs-12 text-center">
      <button [routerLink]="['/','checkout']" class="btn btn-primary navbar-btn">Checkout</button>
    </div>
  </div>
</section>
