<section class="container" id="search">
  <div class="row">
    <div class="col-xs-12">
      <div class="input-group">
        <input type="text" class="form-control" placeholder="Search for..." (keyup)="runSearch($event)">
        <span class="input-group-btn">
          <button class="btn btn-default" type="button">Go!</button>
        </span>
      </div>
    </div>
  </div>
</section>
<br>
<section class="container" id="order-results">
  <div class="list-group">
    <!-- <a *ngFor="let order of search" [routerLink]="['/', 'order', order._id]" class="list-group-item">{{order.name}}</a> -->
    <a [routerLink]="['/', 'order']" class="list-group-item">Order One - Date - Price</a>
    <a [routerLink]="['/', 'order']" class="list-group-item">Order Two - Date - Price</a>
    <a [routerLink]="['/', 'order']" class="list-group-item">Order Three - Date - Price</a>
  </div>
</section>
