<section class="container" id="search">
  <div class="row">
    <div class="col-xs-12">
      <div class="input-group">
        <select class="form-control" name="set-date" (change)="setDate($event)">
          <option selected [ngValue]="365">1 Year</option>
          <option [value]="180">6 Months</option>
          <option [value]="90">3 Months</option>
          <option [value]="30">1 Months</option>
          <option [value]="7">1 Week</option>
        </select>
      </div>
    </div>
  </div>
</section>
<br>
<section class="container" id="order-results">
  <table class="table table-striped">
    <thead>
      <tr>
        <th>Order #</th>
        <th>Date</th>
        <th>Total</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let order of orders" [routerLink]="['/order', order._id]">
        <td>{{order._id}}</td>
        <td>{{order.orderDate | date:'fullDate'}}</td>
        <td>{{(order.total + order.shippingMethod.price) | currency: 'USD':true}}</td>
      </tr>
    </tbody>
  </table>
</section>
