<div class="text-center">
  <h3 *ngIf="isSigningIn">Sign In</h3>
  <h6><a class="center" *ngIf="isSigningIn" (click)="toggleSignIn()">(Need An Account?)</a></h6>
  <h3 *ngIf="!isSigningIn">Create Account</h3>
  <h6><a class="center" *ngIf="!isSigningIn" (click)="toggleSignIn()">(Already Have An Account?)</a></h6>
</div>
<form (ngSubmit)="submit()">
  <div *ngIf="!isSigningIn" class="form-group">
    <label for="name">Name:</label>
    <input type="text" [(ngModel)]="signInForm.profile.name" name="name" class="form-control" id="name" required>
  </div>
  <div class="form-group">
    <label for="email">Email address:</label>
    <input type="email" [(ngModel)]="signInForm.email" name="email" class="form-control" id="email" required>
  </div>
  <div class="form-group">
    <label for="password">Password:</label>
    <input type="password" [(ngModel)]="signInForm.password" name="password" class="form-control" id="password" required>
  </div>
  <div class="text-center">
    <button type="submit" class="btn btn-info">Submit</button>
  </div>
</form>
