<h1 *ngIf="isSigningIn">Sign In</h1>
<h1 *ngIf="!isSigningIn">Create Account</h1>
<form (ngSubmit)="submit()">
  <div *ngIf="!isSigningIn" class="form-group">
    <label for="name">Name:</label>
    <input type="text" [(ngModel)]="signInForm.profile.name" name="name" class="form-control" id="name" required>
  </div>
  <div class="form-group">
    <label for="email">Email address:</label>
    <input type="email" [(ngModel)]="signInForm.email" name="email" class="form-control" id="email" required>
  </div>
  <div class="form-group">
    <label for="password">Password:</label>
    <input type="password" [(ngModel)]="signInForm.password" name="password" class="form-control" id="password" required>
  </div>
  <button type="submit" class="btn btn-default">Submit</button>
</form>
<button *ngIf="isSigningIn" (click)="toggleSignIn()" class="btn btn-default">Need An Account?</button>
<button *ngIf="!isSigningIn" (click)="toggleSignIn()" class="btn btn-default">Already Have An Account?</button>
<button (click)="signOut()" class="btn btn-default">Sign Out</button>
