<section class="container" id="search">
  <div class="row">
    <div class="col-lg-6">
      <div class="input-group">
        <input type="text" class="form-control" placeholder="Search for..." value="{{query.get()}}" (keyup)="runSearch($event)">
        <span class="input-group-btn">
          <button class="btn btn-default" (click)="newSearch()" type="button">Go!</button>
        </span>
      </div>
    </div>
  </div>
</section>
<section class="container" id="search-results">
  <div class="row">
    <div *ngFor="let item of search" class="col-xs-12 col-sm-6 col-md-4">
      <p>{{item.name}}</p>
      <p>Only: {{item.price | currency:'USD':true}}</p>
      <a [routerLink]="['/item', item._id]">View Item</a>
    </div>
  </div>
</section>
