<h1><b>Payment Method</b></h1>
<form class="form-horizontal" (ngSubmit)="saveItem()" #itemForm="ngForm">
  <div class="form-group">
  </h1><div class="dropdown">
    <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
      Card Type
      <span class="caret"></span>
      </button>
      <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
      <li class="dropdown-header">Select Card Type</li>
        <li><a href="#">American Express</a></li>
        <li><a href="#">Mastercard</a></li>
        <li><a href="#">Visa</a></li>
      </ul>
  </div>
</h1><div class="dropdown">
  <div class="input-group">
    <span class="input-group-addon" id="basic-addon1">Card number</span>
    <input type="text" class="form-control" placeholder="99999999" aria-describedby="basic-addon1">
  </div>
  <div class="input-group">
    <span class="input-group-addon" id="basic-addon1">Month</span>
    <input type="text" class="form-control" placeholder="MM" aria-describedby="basic-addon1">
    <span class="input-group-addon" id="basic-addon1">Year</span>
    <input type="text" class="form-control" placeholder="YY" aria-describedby="basic-addon2">
  </div>
  <div class="input-group">
    <span class="input-group-addon" id="basic-addon1">CSV Code</span>
    <input type="text" class="form-control" placeholder="999" aria-describedby="basic-addon1">
  </div>
<button type="button" class="btn btn-default navbar-btn">Save</button>
