<h1>Sign In Here</h1>
<br>
<br>
<div class="input-group">
  <span class="input-group-addon" id="basic-addon1">Email Address</span>
  <input type="text" class="form-control" [(ngModel)]="signInForm.email" placeholder="johndoe@email.com" aria-describedby="basic-addon1">
</div>
<br>

<div class="input-group">
  <span class="input-group-addon" id="basic-addon1">Password</span>
  <input type="text" class="form-control" [(ngModel)]="signInForm.password" placeholder="p@ssWord10" aria-describedby="basic-addon1">
</div>
<div>
  <button (click)="signIn()" type="button" name="button">Sign In</button>
</div>
<br>
<div class="dropdown">
  <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
    Can't log in?
    <span class="caret"></span>
  </button>
  <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
    <li><a href="#">Forgot Password?</a></li>
    <li><a href="#">Forgot Email?</a></li>
    <li><a href="#">Help</a></li>
  </ul>
</div>
