<div class="container">
  <div class="row">
    <div class="col-xs-12 text-center">
      <h1><b>Checkout</b></h1>
      <button [routerLink]="['/','cart']" class="btn btn-primary navbar-btn">Back to Cart</button>
    </div>
  </div>
  <div class="row">
    <app-payment class="col-xs-12 col-sm-6"></app-payment>
    <app-shipping class="col-xs-12 col-sm-6"></app-shipping>
  </div>
  <br>
  <div class="row">
    <div class="col-xs-12">
      <div class="row">
        <section class="container" id="checkout-items">
          <table class="table table-striped">
            <thead>
              <tr>
                <th>Product</th>
                <th>Quantity</th>
                <th>Price</th>
                <th>Item Total</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let item of cart">
                <td>{{item.name}}</td>
                <td>{{item.quantity}}</td>
                <td>{{item.price | currency: 'USD':true}}</td>
                <td>{{(item.quantity*item.price) | currency: 'USD':true}}</td>
              </tr>
              <tr>
                <td></td>
                <td></td>
                <td></td>
                <td>{{total | currency: 'USD':true}}</td>
              </tr>
            </tbody>
          </table>
      </section>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-xs-12 mt">
    <div class="form-group">
      <label class="control-label col-xs-2" for="shipping-method">Shipping Method:</label>
      <div class="col-xs-10">
        <select class="form-control" name="shipping-method" [(ngModel)]="shippingMethod">
          <option selected [ngValue]="{option:'7 day',price:0.00}">7 Day - FREE</option>
          <option [ngValue]="{option:'3 day',price:10.00}">3 Day - $10.00</option>
          <option [ngValue]="{option:'1 day',price:20.00}">1 Day - $20.00</option>
        </select>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-xs-12 text-center mt">
    <h5><b>Total Price: {{(total+shippingMethod.price) | currency: 'USD':true}}</b></h5>
    <button [disabled]="processing" type="submit" (click)="order();" class="btn btn-warning navbar-btn">Submit Order</button>
  </div>
</div>
<br>
</div>
