<div class="container">
  <ul class="nav nav-tabs">
    <li class="active"><a data-toggle="tab" href="#account">My Account</a></li>
    <li><a data-toggle="tab" href="#orders">Order History</a></li>
  </ul>
  <div class="tab-content">
    <div id="account" class="tab-pane fade in active">
      <div class="container-fluid">
        <div class="row">
          <div class="col-xs-12">
            <h2 class="text-center"><b>My Account</b></h2>
          </div>
        </div>
        <div class="row">
          <div class="col-xs-12 text-center">
            <button *ngIf="!isAdmin" (click)="toggleAdminStatus()" class="btn btn-primary">Become Admin</button>
            <button *ngIf="isAdmin" (click)="toggleAdminStatus()" class="btn btn-primary danger">Revoke Admin</button>
          </div>
        </div>
        <div class="row">
          <div class="col-xs-12 col-sm-6">
            <app-payment></app-payment>
          </div>
          <div class="col-xs-12 col-sm-6">
            <app-shipping></app-shipping>
          </div>
        </div>
      </div>
    </div>
    <div id="orders" class="tab-pane fade">
      <div class="container-fluid">
        <div class="row">
          <div class="col-xs-12">
            <h2 class="text-center"><b>Order History</b></h2>
            <app-orders></app-orders>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
