<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <h1 class="text-left"><b>My Account</b></h1>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12 col-sm-6">
      <h3><b>Billing Information</b></h3>
    </div>
    <div class="col-xs-12 col-sm-6">
      <app-payment></app-payment>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12 col-sm-6">
      <h3><b>Shipping Address</b></h3>
      <br>
      <h4><b>Street Place Holder</b></h4>
      <h4><b>City Place Holder</b></h4>
      <h4><b>State Place Holder</b></h4>
      <h4><b>Zip Place Holder</b></h4>
    </div>
    <div class="col-xs-12 col-sm-6">
      <app-shipping></app-shipping>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12 col-sm-6">
      <h3><b>Order History</b></h3>
    </div>
  </div>
