<section class="container" id="search">
  <div class="row">
    <div class="col-xs-12">
      <div class="input-group">
        <input type="text" class="form-control" placeholder="Search for..." (keyup)="runSearch($event)">
        <span class="input-group-btn">
          <button class="btn btn-info" (click)="addCategory()" type="button">Add Category?</button>
        </span>
      </div>
    </div>
  </div>
</section>
<br>
<section class="container" id="category-results">
  <div class="list-group">
    <a *ngFor="let category of categories" class="list-group-item">
        <div class="container-fluid">
          <span class="pull-left">{{category.name}}</span>
          <button (click)="deleteCategory(category._id)" type="button" class="pull-right btn btn-info danger">Remove</button>
      </div>
    </a>
  </div>
</section>
