<h1 class="text-center"><b>Your Order</b></h1>
<div class="container">
<table class="table table-hover">
<thead>
<tr>
<th>Date</th>
</tr>
</thead>
<tbody>
<tr>
<td>put date here</td>
</tr>
</tbody>
</table>
<table class="table table-hover">
<thead>
<tr>
<th>price</th>
</tr>
</thead>
<tbody>
<tr>
<td>put price here</td>
</tr>
</tbody>
</table>
<table class="table table-hover">
<thead>
<tr>
<th>Item Name</th>
</tr>
</thead>
<tbody>
<tr>
<td>put item name here</td>
</tr>
</tbody>
</table>
<table class="table table-hover">
<thead>
<tr>
<th>Item Description</th>
</tr>
</thead>
<tbody>
<tr>
<td>put Description here</td>
</tr>
</tbody>
</table>
<table class="table table-hover">
<thead>
<tr>
<th>Payment Method</th>
</tr>
</thead>
<tbody>
<tr>
<td>put payment method here</td>
</tr>
</tbody>
</table>
<table class="table table-hover">
<thead>
<tr>
<th>Shipping Address</th>
</tr>
</thead>
<tbody>
<tr>
<td>put Shipping address here here</td>
</tr>
</tbody>
</table>
<table class="table table-hover">
<thead>
<tr>
<th>Time of Arrival</th>
</tr>
</thead>
<tbody>
<tr>
<td>put Arrival time here</td>
</tr>
</tbody>
</table>
</div>
