<div class="container" *ngIf="order">
  <div class="panel panel-default">
    <div class="panel-heading">
      <h3 class="panel-title">Order #{{order._id}} <span class="pull-right">Ordered On {{order.orderDate | date:'longDate'}}</span></h3>
    </div>
    <div class="panel-body">
      <div class="container">
        <div class="row">
          <div class="col-xs-12 col-sm-6">
            <p><b>Shipping Address - (NOT YET SHIPPED)</b></p>
            <p>{{order.address.name}}</p>
            <p>{{order.address.address}}</p>
            <p>{{order.address.city}}, {{order.address.state}} {{order.address.zip}}</p>
          </div>
          <div class="col-xs-12 col-sm-6">
            <p><b>Payment Method</b></p>
            <p><i *ngIf="order.payment.type" [class]="order.payment.type" aria-hidden="true"></i> - {{order.payment.number.slice(-4)}}</p>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="panel panel-default">
    <table class="table table-striped">
      <thead>
        <tr>
          <th>Product</th>
          <th>Quantity</th>
          <th>Price</th>
          <th>Item Total</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let item of order.items">
          <td>
            <a [routerLink]="['/item', item.item]">
              {{item.name}}
            </a>
            </td>
          <td>{{item.quantity}}</td>
          <td>{{item.price | currency: 'USD':true}}</td>
          <td>{{(item.quantity*item.price) | currency: 'USD':true}}</td>
        </tr>
        <tr>
          <td></td>
          <td></td>
          <td>{{order.shippingMethod.option}}</td>
          <td>{{order.shippingMethod.price | currency: 'USD':true}}</td>
        </tr>
        <tr>
          <td></td>
          <td></td>
          <td><b>Total: </b></td>
          <td>{{order.total | currency: 'USD':true}}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
<div class="text-center" *ngIf="!order">
  <h1>Order Not Found</h1>
</div>
